@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --icon-color: theme(colors.offwhite);
}

body {
    color: theme(colors.black);
    background: theme(colors.reddish.DEFAULT);
    font-family: var(--font-open-sans);
    font-optical-sizing: auto;
}

h1, h2 {
    color: theme(colors.offwhite);
    text-align: center;
    font-weight: 600;
}

h1 {
    font-size: theme(fontSize.4xl);
}

h2 {
    font-size: theme(fontSize.2xl);
}

ul {
    list-style: none inside;
}

li {
    padding-top: theme(padding.2);
    padding-bottom: theme(padding.2);
    margin-left: theme(margin.5);
    margin-right: theme(margin.5);
    position: relative;

    &::before {
        content: '-';
        position: absolute;
        left: calc(-1 * theme(margin.5));
    }
}

p {
    margin-bottom: theme(margin.2)
}

a {
  color: var(--reddish);
}
