@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offwhite: #D9D9D9;
  --bg-color: #B43F3F;
  --text-color: #000;
  --icon-color: var(--offwhite);
  --accent-color: #173B45;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: theme(fontFamily.sans);
}

h1, h2 {
  color: var(--offwhite);
  text-align: center;
  font-variant: small-caps;
  font-weight: 600;
}

h1 {
  font-size: theme(fontSize.4xl);
}

h2 {
  font-size: theme(fontSize.2xl);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
